<settings>
<category label="Configurações de Ligação">
     <setting id="kasutajanimi" type="text" label="Username" default=""/>
     <setting id="salasona" type="text" option="writeable,hidden" label="Password" default=""/>
</category>
<category label="Outras Definições">
	 <setting id="improve" type="bool" label="Usar definições Avançadas?"value="true"/>
	 <setting id="striimiv2ljund" type="bool" label="Usar HLS?" default="false"/>
	 <setting id="vanemalukk" type="bool" label="Bloqueio Parental?" default="true"/>
	 <setting id="vanemakood" type="text" option="writeable,hidden" label="Codigo de Bloqueio Parental" default="1234"/>
</category>
</settings>